<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Add Page</title>
    {% load static %}
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{% static 'final.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Staatliches&family=Water+Brush&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'nav.html' %}
    <div class="jumbotron">
        <h1>Add Food Item</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                
            </table>
        </form>
    </div>
</body>
</html>