<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% load static %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Goldman&family=Staatliches&family=Water+Brush&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'final.css' %}">
    <title>Health Tracker</title>

    {% include "bootstrap.html" %}
</head>

<body>
    {% include "nav.html" %}
    <center>
        <h1>Final Project: Health Tracker</h1>
        <h3>Dashboard</h3>
        {% for n in names %}
            <p>{{ n }}</p>
        {% endfor %}
    </center>
    <div class="container">
        <div class="row"> 
            <div class="col-sm">
                <div class="ct-chart ct-perfect-fourth" , id="example-pie-chart">
                    <script>
                        new Chartist.Pie('.ct-chart', {
                            labels: ['Burned Calories', 'Calories Remaining'],
                            series: [{{calsBurned}}, {{calGoal}}]
                          }, {
                            donut: true,
                            donutWidth: 60,
                            donutSolid: true,
                            startAngle: 270,
                            showLabel: true
                          });
                    </script>
                </div>
            </div>
            <div class="col-sm">
                <div class="ct-chart-br ct-perfect-fourth" , id="example-bar-graph">
                    <script>
                        new Chartist.Bar('.ct-chart-br', {
                            labels: [{{ names }}],
                            series: [
                                {{ calories }},
                                {{ sodium }},
                                {{ carbs }},
                                {{ fats }},
                                {{ sugars }}
                            ]
                        }, {
                            seriesBarDistance: 10,
                            reverseData: true,
                            horizontalBars: true,
                            axisY: {
                                offset: 70
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
</body>

</html>